body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/slidebg1.jpg); /*copia o caminho da imagem*/
    background-repeat: no-repeat; /* para nao repetir a imagem*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}  
nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0 auto 0 auto; /*cima-direita-baixo-esquerda*/
}
nav #logo{
    margin: 23px;
    float: left;
}
nav #logo img{
    height: 75px;
}
nav ul li a{
    text-decoration: line-through; /*linha no meio da palavra*/
    padding: 55px 20px 55px 0;
    float: left;
}
nav ul li{
    color: aliceblue;
    font-size: 16px;
    font-family: Montserrat, sans-serif; /*fonte da letra*/
    list-style: none;
    text-align: center;
    transition: 1s;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav #menu_principal{
    float: right;
}
#menu_principal li span{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: rgb(134,134,134);
    margin-right: 3px;
    margin-top: 60px;
    float: left;
}
#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /* deixa todo o texto maiúsculo, mesmo que esteja minúsculo*/
    text-decoration: none;
    transition: 1s;
}
#menu_principal li a:hover{
    color: rgb(231, 169, 32);
    transition: 1s; /*para aparecer a cor com transição*/
    text-decoration: line-through; /* linha no meio da palavra*/
}
.rule{
    background-image: url(../img/divider-dark.png); /*copia o caminho da imagem*/
    background-repeat: repeat-x; /*repete só no eixo x*/
    padding-top: 100px; /*pading controla o espaçamento entre um elemento e o seu conteúdo interno*/
}
section{
    width: 100%; /*largura*/
    height: 500px; /*altura*/
}
/* ------------------trabalhos----------------*/
#trabalhos{
    background-color: blue;
}
.icons{
    height: 120px;
    width: 345px;
    margin: 0 auto; /*controla o espaço entre um determinado elemento e tudo o que estiver em volta dele. A margin é aplicada ao redor da borda*/
    display: flex; /*deixa a forma de exibição flexível*/
    flex-direction: row; /*para a exibição ser em linha*/
}
.icons .icon img{
    width: 115px;
}
.citacao{
    width: 850px;
    margin: 0 auto;
}
.citacao h6{
    font-size: 28px; /*tamanho da fonte*/
    font-weight: 300; /*altura da fonte*/
    width: 80%;
    display: inline-block; /*reconhece os conteúdos do float left*/
    line-height: 40px;
    font-family: 'Roboto Slab', serif; /*lembrete: mudar a fonte pelo google fontes*/
    text-align: center;
    margin: 0;
    margin-left: 100px; /*para alinhar*/
    margin-top: 40px; /*distância da imagem pro texto*/
}
.texto h4{
    width: 1170px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 24px; /*tamanho da fonte*/
    color: rgb(231, 169, 32);
    text-align: center; /*alinhar no centro*/
    font-weight: 100; /*grossura da fonte*/
}
.texto h1{
    font-family: Montserrat, sans-serif;
    font-size: 85px;
    font-style: italic; /*estilo da fonte*/
    font-weight: 700; /*grossura da fonte*/
    height: 121px;
    text-align: center;
    margin-top: -14px; 
}
.wave{
    text-align: center;
    margin-top: -100px; 
}
p{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 12px;
    font-style: italic;
}